body {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background: #020A18;
}
h1, h2, h3, h4, h5, h6
{
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* CONTEINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* header */
.header {
}
.header-inner {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo h3 {
  margin-left: 10px;
  color: #3A68B8;
  font-size: 19.5455px;
}
.header-menu {
  margin: 0 auto;
}
.nav-a {
  margin: 0 10px;
  font-size: 20px;
}
.nav-btn {
  background: #3A68B8;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 17px;
  transition: .6s;
}
.nav-btn:hover {
  background-color: orange;
}
/* intro */
.intro {
  display: flex;
  height: 750px;
  align-items: center;
}
.intro-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 575px;
  align-items: center;
}
.box-text-btn {
  width: 432px;
  height: 313px;
}
.box-text {
}
.box-text h4 {
  text-transform: uppercase;
  color: #3A68B8;
  margin-bottom: 10px;
  font-size: 15px;
}
.box-text h1 {
  color: #fff;
  margin-bottom: 10px;
  width: 88.33333%;
  font-size: 38px;
}
.box-text p {
  color: #fff;
  margin-bottom: 25px;
  font-size: 15px;
}
.intro-btn a {
  background: #3A68B8;
  border-radius: 5px;
  padding: 8px 10px;
  margin-right: 10px;
  transition: .3s;
}
.intro-btn a:hover {
  background-color: orange;
}
.box-img  {
  width: 591px;
  height: 574px;
}
.box-img img {
  width: 591px;
  height: 574px;
}
/* COMPAN */

.box-compan {
  display: flex;
  width: 100%;
}
.box-compan img {

  margin: 0 auto;
  width: 195px;
}
/* main */
.main {
  margin-top: 50px;
  height: 675px;
}
.main-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 575px;
  align-items: center;
}
.main-box-text {
  width: 608px;
  height: 297px;
}
.box-text-main {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.box-text-main h1 {
  width: 80%;
  margin-bottom: 20px;
}
.box-text-main p {
  width: 80%;
  margin-bottom: 15px;
}
.main-box-img {
  width: 591px;
  height: 574px;
}
.main-box-img img {
  width: 591px;
  height: 574px;
}
/* section */
.section {
  margin-top: 100px;
  height: 500px;
  width: 100%;
}
.section-box {
  display: flex;
}
.box-cart {
  background: #020A29;
  width: 300px;
  height: 297px;
  border-radius: 10px;
  margin: 0 auto;
}
.box2-cart-img {
  display: flex;
  justify-content: center;
}
.box2-cart-img img {
  margin-top: 60px;
  margin-bottom: 20px;
}
.box-cart-img {
  display: flex;
  justify-content: center;
}
.box-cart-img img {
  margin-top: 26px;
  margin-bottom: 20px;
}
.box-cart-text {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-cart-text h4 {
  font-size: 18px;
  width: 70%;
  margin-bottom: 10px;
  text-align: center;
}
.box-cart-text p {
  font-size: 13px;
  width: 90%;
  text-align: center;
}
/* ABOUT */
.about {
  height: 100vh;
}
.about-text-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-text {
  width: 40%;
  color: #fff;
  justify-content: center;
}
.about-text h1 {
  width: 90%;
  font-size: 30px;
  margin: 10px auto;
}
.about-text p {
  width: 85%;
  margin: 17px auto;
  font-size: 16px;
}
.about-img {
  width: 611px;
  height: 438px;
}
.about-img img {
  width: 611px;
  height: 438px;
}
@media screen and (max-width: 1280px) {
  .section {
    height: 1000px
  }
  .section-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box-cart {
    background: #020A29;
    width: 368px;
    height: 343px;
    border-radius: 10px;
    margin: 15px;
  }
  .compan {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 1140px
  }
  .section-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box-cart {
    background: #020A29;
    width: 368px;
    height: 343px;
    border-radius: 10px;
    margin: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  /* header */
  .header-logo h3 {
    font-size: 17px;
  }
  .nav-a {
    font-size: 16px;
  }
  .box-img  {
    width: 451px;
    height: 409px;
  }
  .box-img img {
    width: 451px;
    height: 409px;
  }
  /* COMMPAN */
  .compan-box img {
    width: 190px;
  }
  /* main */
  .main-box-img {
    width: 451px;
    height: 409px;
  }
  .main-box-img img {
    width: 451px;
    height: 409px;
  }
  .box-text-main {
    align-items: normal;
  }
  .box-text-main h1 {
    width: 80%;
    margin-bottom: 20px;
  }
  .box-text-main p {
    width: 90%;
    margin-bottom: 15px;
  }
  /* section */
  .box-cart-text h4 {
    font-size: 17px;
    width: 100%;
  }
  .box-cart-text p {
    font-size: 15px;
    width: 100%;
  }
  .section {
    height: 1200px;
  }
  .section-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box-cart {
    background: #020A29;
    width: 368px;
    height: 343px;
    border-radius: 10px;
    margin: 15px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 720px
  }
  /* intro */
  .box-text-btn {
    width: 436px;
    height: 313px;
  }
  .box-img  {
    width: 307px;
    height: 437px;
  }
  .box-img img {
    width: 399px;
    height: 437px;
  }
  /* compan */
  .compan .container {
    width: 100%;
  }
  /* main */
  .main-box {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    width: 824px;
    height: 484px;
  }
  .main-box-img   {
    width: 405px;
    height: 437px;
  }
  .main-box-img  img {
    width: 399px;
    height: 437px;
  }
  .main-box-text {
    width: 415px;
    height: 387px;
  }
  .main-box-text h1 {
    font-size: 22px;
    width: 90%;
  }
  /* section */

  .section {
    margin: 0 ;
  }
  .about-img {
    width: 610px;
    height: 524px;
  }
  .about-img img {
    width: 598px;
    height: 524px;
  }
  .about-text-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-text {
    width: 100%;
  }
  .about-text h1 {
    width: 100%;
    font-size: 30px;
    margin: 23px auto;
  }
}
@media screen and (max-width: 944px) {
  .container {
    width: 700px;
  }
  .main-box {
    width: 800px;
  }

}
@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
  /* header */
  .header-menu {
    display: none;
  }
  .nav-btn {
    margin: 0 auto;
  }
  /* intro */
  .intro {
    display: flex;
    height: 950px;
  }
  .intro-box {
    display: flex;
    width: 100%;
    height: 575px;
    flex-direction: column;
    align-items: center;
  }
  .box-img img {
    width: 535px;
    height: 437px;
  }
  .box-img {
    width: 512px;
    height: 437px;
  }
  /* compan */
  .box-compan img {
    width: 155px;
  }
  .compan {
    margin-bottom: 290px;
  }
  /* main  */
  .main {
    height: 560px
  }
  .main-box {
    display: flex;
    align-items: center;
    width: 523px;
    height: 447px;
    flex-direction: column-reverse;
  }
  .main-box-img {
    width: 506px;
    height: 437px;
  }
  .main-box-img img {
    width: 506px;
    height: 437px;
  }
  /* section */
  .box-cart {
    padding: 15px;
  }
  .section {
    height: 1871px;
  }
  /* about */
  .about-img  {
    width: 661px;
    height: 524px;
  }
  .about-img img {
    width: 661px;
    height: 524px;
  }
  .about {
    height: 134vh;
  }
}
@media screen and (max-width: 795px) {
  .section {
    height: 1852px;
  }
  .box-text-btn {
    width: 364px;
  }
  .box-text h4 {
    font-size: 13px;
  }
  .box-text h1 {
    font-size: 33px;
  }
  .box-img {
    width: 368px;
    height: 437px;
  }
  .box-img img {
    width: 368px;
    height: 437px;
  }
  .box-compan img {
    width: 155px;
  }
  .main {
    height: 444px;
  }
  .main-box {
    width: 100%
  }
  .main-box-img  {
    width: 357px;
    height: 331px;
  }
  .main-box-img img {
    width: 357px;
    height: 331px;
  }
  .main-box-text h1 {
    font-size: 20px;
  }
  .box-text-main p {
    width: 100%;
    margin-bottom: 33px;
    font-size: 15px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px
  }
  .box-img {
    margin-top: 30px;
  }
  .box-compan {
    width: 90%;
  }
  .box-compan img {
    width: 100px;
  }
  .compan {
    margin-bottom: 134px;
  }
  .main-box {
    width: 80%;
  }
  .main-box-text h1 {
    font-size: 25px;
  }
  .main-box-img {
    width: 433px;
    height: 331px;
  }
  .main-box-img img {
    width: 474px;
    height: 331px;
  }
  .main {
    height: 510px;
  }
  .about-img {
    width: 490px;
    height: 524px;
  }
  .about-img img {
    width: 490px;
    height: 524px;
  }
}
